/* Page Responsive Customize Code */


@media all and (min-width: 576px) {
    .sideBar .barItems .item:hover {
        width: 44px;
    }

    .sideBar .barItems .item:hover i {
        padding-left: 12px;
    }
}

@media all and (max-width: 575px) {
    .submit-card-section .submit-box {
        border-radius: 20px 20px 20px 20px;
    }

    .slider .img-tag {
        bottom: -10%;
    }

    .slider .img-tag p {
        padding: 4px;
        font-size: 10px;
    }

    .sideBar {
        width: 100%;
    }

    .sideBar .barItems {
        display: flex;
    }

    .sideBar .barItems .item {
        width: 25%;
        text-align: center;
    }
}


@media all and (min-width: 767px) {
    .navbar-nav {
        display: flex;
        flex-direction: inherit;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .navbar-dark .navbar-toggler {
        display: none;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .dropdown {
        margin: 0 30px;
    }
}




@media all and (min-width: 992px) {

    .dropdown {
        position: relative;
        margin: 0 12px;
    }

    .submit-card-section .submit-box1 {
        border-radius: 30px 0px 0px 30px;
    }

    .submit-card-section .submit-box4 {
        border-radius: 0px 30px 30px 0px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .slider .img-tag {
        bottom: -5%;
    }

    .slider .img-tag p {
        padding: 4px;
        font-size: 12px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .submit-card-section .submit-box1 {
        border-radius: 30px 0px 0px 0px;
    }

    .submit-card-section .submit-box2 {
        border-radius: 0px 30px 0px 0px;
    }

    .submit-card-section .submit-box3 {
        border-radius: 0px 0px 0px 30px;
    }

    .submit-card-section .submit-box4 {
        border-radius: 0px 0px 30px 0px;
    }

    .submit-card-section .submit-box .about-box {
        padding: 10px 5px;
    }


}

@media all and (min-width: 1199px) {
    .submit-card-section .submit-box .about-box {
        padding: 12px 5px;
    }
}